sudo: true
services:
    - docker

before_install:
    - docker info
    - docker version
    - docker build  -f test/Dockerfile  -t wordpress   .

script:
    - docker run -d --name wordpress wordpress
    - IP=$(docker inspect --format '{{ .NetworkSettings.IPAddress }}' wordpress)  ;  echo http://$IP:80/wp-admin/install.php > url
    - cat url  |  xargs -t -n 1 curl --retry 5 --retry-max-time 120 -v -o result-wordpress
    - grep '<title>' result-wordpress
    - echo "==> Done."

notifications:
    webhooks: https://galaxy.ansible.com/api/v1/notifications/
