sudo: true
services:
    - docker

before_install:
    - docker info
    - docker version

    - docker build  -f test/Dockerfile-ubuntu14.04  -t nginx_trusty   .

script:
    - docker run  -v $(pwd):/data  nginx_trusty


    - echo "==> Validating the test results..."
    - grep '^Active connections' result-ubuntu14.04


notifications:
    webhooks: https://galaxy.ansible.com/api/v1/notifications/
