sudo: true
services:
    - docker

before_install:
    - docker info
    - docker version

    - docker build  -f test/Dockerfile  -t wordpress_rtf   .

script:
    - docker run  -v $(pwd):/data  wordpress_rtf

notifications:
    webhooks: https://galaxy.ansible.com/api/v1/notifications/
